* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  box-sizing: border-box;
  font-size: .14rem;
  font-style: normal;
  font-weight: normal;
}

ul,
li {
  list-style: none;
}

html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  font-size: 625%;
}

img,
div,
body,
html,
ul,
li,
a {
  -webkit-touch-callout: none;
}

input,
button {
  outline: 0;
}

button {
  cursor: pointer;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #ccc;
}

body,
.box,
html {
  width: 100%;
  height: 100%;
}

body {
  font-size: .32rem;
}

section .head i, section .main dl dt, section .main dl dt i, footer i {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

header {
  width: 100%;
  height: .4rem;
  display: flex;
  line-height: 0.4rem;
  justify-content: space-between;
}

header i {
  padding-left: .1rem;
}

section {
  flex: 1;
  overflow-y: scroll;
  background: #ccc;
}

section .head {
  height: 0.8rem;
  background: #fff;
  margin-top: 0.1rem;
  position: relative;
}

section .head i {
  width: 0.45rem;
  height: 0.45rem;
  border-radius: 50%;
  background: #ccc;
  position: absolute;
  top: .15rem;
  left: .1rem;
}

section .head a {
  color: #000;
  position: absolute;
  top: .25rem;
  left: .65rem;
}

section .main {
  background: #fff;
}

section .main dl {
  height: 0.5rem;
  display: flex;
  line-height: 0.5rem;
}

section .main dl dt {
  flex: 1;
}

section .main dl dt i {
  width: 0.25rem;
  height: 0.25rem;
  background: orange;
  border-radius: 50%;
}

section .main dl dd {
  flex: 3;
  border-bottom: .01rem solid #999;
  position: relative;
}

section .main dl dd i {
  position: absolute;
  top: .04rem;
  right: .1rem;
}

footer {
  width: 100%;
  height: .6rem;
  background: #242323;
  position: relative;
}

footer h6,
footer p {
  line-height: 0.25rem;
  color: #fff;
  padding-left: .1rem;
}

footer i {
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background: #ccc;
  position: absolute;
  top: .1rem;
  right: .1rem;
}
